@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

#__next {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
